
@charset "utf-8";
/* CSS Document */ 
body {
	margin: 0 auto;
	font-size: 12px;
	font-family: "微软雅黑",arial;
	line-height: 22px;
	background: #fbf1da;
}

div,p,input,ul,li,h1,h2,h3 {
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

li {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

a:link {
	color: #333;
}

a:hover {
	color: #629705;
	text-decoration: none;
	overflow: hidden;
}

img {
	border: 0;
	margin: 0;
	padding: 0;
}

.main {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	background: #FFF;
}

.top {
	height: 88px;
	padding-top: 16px;
}

.logo {
	width: 66px;
	height: 72px;
	float: left;
	margin-left: 25px;
}

.nav {
	width: 550px;
	height: 55px;
	float: right;
	padding-top: 10px;
}

.nav ul {
	padding: 0px
}

.nav ul li {
	line-height: 55px;
	float: left;
	text-align: center;
	display: inline-block;
	position: relative;
	width: 110px;
}

.nav ul li a {
	color: #221e1f;
	font-size: 18px;
}

.nav ul li a:hover {
	color: #faab18;
}

.hoo {
	color: #faab18 !important;
}

.box {
	width: 1024px;
	height: 418px;
}

.nr {
	width: 1000px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.box1 {
	width: 1000px;
	height: 260px;
}

.box1-left {
	width: 200px;
	height: 220px;
	padding: 20px;
	float: left;
}

.box1-right {
	width: 740px;
	margin-left: 20px;
	height: 220px;
	float: left;
}

.box1-right-tit {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}

.box1-right p {
	font-size: 14px;
	line-height: 22px;
	text-indent: 2em;
}

.tit {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
	margin-left: 20px;
	font-weight: bold;
}

.box2 {
	padding: 0px 20px;
}

.box2 p {
	font-size: 14px;
	line-height: 22px;
	text-indent: 2em;
}

.box3 {
	width: 1000px;
	height: 190px;
}

.box3 img {
	width: 256px;
	height: 165px;
	float: left;
	margin: 20px 38px;
}

.mdi {
	height: 570px;
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 20px;
}

.mdi ul {
	margin: 0px;
}

.mdi ul li {
	width: 230px;
	height: 230px;
	float: left;
	text-align: center;
	margin: 10px;
}

.mdi ul li img {
	width: 230px;
}

.mdi ul li h2 {
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}

.xq-box01 {
	width: 1000px;
	height: 600px;
	padding: 20px;
}

.xq-box01  ul {
	padding: 0px;
}

.xq-box01 ul li {
	width: 480px;
	float: left;
	padding: 10px;
}

.xq-box01 ul li img {
	width: 460px;
	height: 300px;
	display: block;
}

.xq-box01  .xiangq {
	width: 420px;
	height: 200px;
	padding: 20px;
	border-top: none;
	background: #e5e4e2;
}

.xq-box01  .xiangq h1 {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 10px;
	border-bottom: #D8D7D7 1px solid;
}

.xq-box01  .xiangq p {
	font-size: 12px;
	text-indent: 2em;
}

.huiy {
	width: 100%;
	height: 650px;
}

.mc {
	float: left;
	width: 360px;
	margin-left: 100px;
	padding-top: 100px;
}

.reg-other {
	float: left;
	margin-left: 60px;
	height: 500px;
	padding-left: 60px;
	border-left: solid 1px #e6e6e6;
	padding-top: 100px;
}

.reg-other .phone-fast-reg {
	background: url(../img/wz-01.png) no-repeat;
	width: 300px;
	height: 355px;
}

.one {
	margin: 20px 0
}

.one label {
	width: 100px;
	float: left;
	text-align: right;
	height: 20px;
	line-height: 20px;
}

.one input {
	border: 1px solid #ccc;
	height: 20px
}

.two {
	padding-left: 100px
}

.reda {
	color: red
}

.a2 {
	width: 100px;
	margin-left: 5px;
	padding: 2px;
	background: #ccc
}

.btn {
	background: #ffb72f;
	width: 50px;
	border: none;
	padding: 3px;
	color: #fff;
}

.da {
	width: 980px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
}

.da h2 {
	width: 980px;
	height: 30px;
	border-bottom: 1px solid #333;
	line-height: 30px;
}

.foot {
	height: 70px;

	background: #101211;
}

.foot p {
	text-align: center;
	font-size: 14px;
	color: #FFF;
	line-height: 20px;
	padding-top: 5px;
} 


